.container {
  background-color: #FD8D14;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 8px;
    width: 50vw;
    height: 80vh;

    a {
      margin: 20px;
    }

    h2 {
      font-family: 'Cherry Bomb One', cursive;
      font-size: 1.3rem;
      margin: 20px;
    }

    .photo {
      width: 15vw;
      height: auto;
      border-radius: 50%;
      overflow: hidden;

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
      }
    }
  }
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#form {
  width: 50%;

  fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    button{
      align-self: center;
    }
  }

  legend {
    font-weight: bold;
  }
}