<h1>Login</h1>
<form id="formLogin">
  <label for="imput_email">email</label><input type="email" id="input_email" placeholder="email"><br>
  <label for="imput_password">password</label><input type="password" id="input_password" placeholder="password"><br>

  <button type="submit">Enviar</button>
  <br>
  <a href="/api/account/password/reset">Olvide mi contraseña</a>
  <br>
  <label for="register">Aun no te has registrado?</label><br>
  <button id="btnR">Registrarme</button><br>
  <a href="/api/sessions/github/">Github registrarme</a>
</form>

<script src="/js/login.js"></script>