<head>
  <link rel="stylesheet" href="/css/register/register.css">
</head>

<section id="Container-form">

  <form id="formRegister">
    <label id="title">Registro</label><br>
    <input  type="text" id="input_first_name" placeholder="Nombre"><br>
    <input  type="text" id="input_last_name" placeholder="Apellido"><br>
    <input  type="email" id="input_email" placeholder="Email"><br>
    <input  type="number" id="input_age" placeholder="Edad"><br>
    <input  type="password" id="input_password" placeholder="Contraseña"><br>
    <div><label id="lcheck">Mostrar contraseña</label><input type="checkbox" name="check" id="check"></div><br>
    <input type="file" name="profile" id="input_file" accept="image/*">
    <div id="photo">
      <img id="picProfile" src="/imgs/noProfilePicture.jpg" alt="profile picture">
    </div><br>

    <button class="button_slide slide_down" type="submit">Enviar</button><br>
    <label for="login">Desea regresar al login?</label><br>
    <button class="button_slide slide_down" id="btnL">Login</button>

  </form>

</section>

<script src="/js/register.js"></script>