<h1>Reinicio de contraseña</h1>
<form id="formReset">
  <label for="imput_email">email</label><input type="email" id="input_email"
    placeholder="email"><br>
  <label for="imput_password">new password</label><input type="password" id="input_password"
    placeholder="new password"><br>

  <button type="submit">Enviar</button><br>
</form>

<script src="/js/resetPassword.js"></script>