{{#if userInfo}}
<h1>Usuario logueado actualmente</h1>
<h2>Nombre</h2>
{{userInfo.first_name}}
<h2>Apellido</h2>
{{userInfo.last_name}}
<h2>email</h2>
{{userInfo.email}}
{{else}}
<h2>No se encontro usuario</h2>
{{/if}}